
.historyItem{
    width: 733px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #000000;
}
.historyItem-line{
    width: 886px;
    height: 0px;
    margin-bottom: 15px;
    border: 1px solid #000000;
}

.historyItem-info{
    width: 886px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}