.todoItemInfo {
    margin-bottom: 160px;  
}
.todoItemInfo-title {
    width: 585px;
    height: 44px;
    left: 440px;
    top: 40px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    color: #000000;
}

.todoItemInfo-textarea{
    box-sizing: border-box;
    width: 913px;
    height: 154px;
    left: 439px;
    top: 114px;
    resize: none;

    border: 1px solid #000000;
    border-radius: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px; 
    color:#000000;
    padding: 15px 10px;
}

.todoItemHistory_title{
    margin-top: 280px;
}